.product-wrapper {
  &.section {
    padding-top: 40px;
    @include breakpoint(small) {
      padding-top: 0;
    }
  }
  .summary {
    .product_title {
      font-size: 33px;
      margin-bottom: 24px;
    }
    .price {
      margin: 0;
      > span {
        margin-bottom: 35px;
        display: inline-block;
      }
      span {
        font-size: 30px;
        line-height: 26px;
        font-weight: bold;
        color: #4D302B;
      }
    }
  }
  .woocommerce-product-details__short-description {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;

  }
  .product-information {
    .bold-title {
      font-weight: bold;
    }
    .bold-title,
    .detail {
      font-size: 20px;
      margin-bottom: 24px;
      @include breakpoint(small) {
        font-size: 16px;
      }
    }
  }
}

.single-product-gallery {
  @include breakpoint(small) {
    margin: 0 -30px 20px;
    .prev-arrow.slick-arrow {
      left: 30px;
      right: auto;
      width: calc(100% - 120px);
      background-position: 15px center;
      bottom: 8px;
    }
    .next-arrow.slick-arrow {
      right: 30px;
      bottom: 8px;
    }
  }
  .single-gallery-image {
    img {
      width: 100%;
    }
  }
}
.product-infos {
  padding-bottom: 60px;
  > .row {
    > .col-md-6 {
      &:first-child {
        @include breakpoint(small) {
          order: 2;
        }
      }
    }
  }
}
#shop-product-contain {
  &.related {
    border-top: 1px solid #e2e2e2;
    .product {
      padding: 0 7.5px;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .related-slider {
      margin: 0 -7.5px;
      @include breakpoint(extrasmall) {
        margin: 0 -30px ;
      }
      .prev-arrow {
        display: none!important;
      }
      .next-arrow {
        top: -62px;
        bottom: auto;
      }
    }
    > h2 {
      margin: 50px 0 40px;
      font-size: 25px;
      @include breakpoint(small) {
        font-size: 20px;
        max-width: 80%;
        margin: 25px 0;
      }
    }
  }
}
.pro-optns {
  margin: 20px 0;
  > .row {
    .col-sm-6 {
      &:first-child {
        > strong {
          @include breakpoint(small) {
            margin-right: 20px;
            position: relative;
            top: -12px;
          }
        }
      }
    }
  }
  strong {
    margin-bottom: 17px;
    display: block;
    @media(max-width: 575px) {
      display: inline-block;
      margin-right: 5px;
    }
  }
  label {
    position: relative;
    margin-right: 8px;
  }
  input[type="radio"] {
    display: inline-block!important;
    width: 33px!important;
    height: 33px!important;
    border-radius: 50%!important;
    position: relative!important;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    cursor: pointer!important;
    margin-bottom: 0!important;
  }
  input[type="radio"] + span {
    content: '';
    width: 15px;
    height: 15px;
    background: green;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 0px;
    @include center(true,false);
    opacity: 0;
  }
  input[type="radio"]:checked + span {
    opacity: 1;
  }
}
.wc-quantity,
.quantity {
  @media(max-width: 575px) {
    width: calc(100% - 80px);
    display: inline-block;
    margin: 0 0 0 10px;
  }
  .quantity-inc {
    .button {
      width: 39px;
      height: 39px;
      line-height: 39px;
      background: $theme_secondary;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      margin-right: 16px;
      color: #fff;
      cursor: pointer;
      @media(max-width: 575px) {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 16px;
        margin-right: 0;
        @media(max-width: 575px) {
          margin-left: 10px;
        }
      }
    }
    input.input {
      height: 39px!important;
      width: calc(100% - 120px)!important;
      position: relative;
      top: 0px;
      color: #cbcbcb!important;
      background: #fff!important;
      text-align: center;
      border: 1px solid!important;
      display: inline-block!important;
      font-size: 16px!important;
      @media(max-width: 575px) {
        width: calc(100% - 107px)!important;
      }
    }
  }
}
.add-cart {
  margin-top: 20px;
  input {
    width: 100%;
  }
}
.woocommerce-error,
.woocommerce-message {
  border: 2px solid;
  padding: 20px 15px;
  margin: 0 0 20px;
  text-align: center;
  list-style: none;
  font-weight: bold;
  @include breakpoint(small) {
    margin: 20px 0 20px;
  }
}
.woocommerce-error {
  border-color: red;
  color: red;
}
.shipping {
  td[data-title="Expédition"] {
    width: 41%;
  }
  .woocommerce-shipping-methods {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      input[type="radio"] {
        margin-right: 5px!important;
      }
    }

  }
}
//cart
body.woocommerce-cart {
  .inner-banner {
    display: none;
  }
  article header.entry-header {
    display: none;
  }
  section.section {
    @media(min-width: 768px) {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
  .cart-collaterals {
    //display: none;
  }
}
.custom-cart-form  {
  > p {
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #959595;
    margin-bottom: 29px;
    @include breakpoint(small) {
      font-size: 20px;
    }
  }
  div.shop_table {
    .tbody-custom {
      @include breakpoint(small) {
        display: flex;
        flex-wrap: wrap;
        .brown-cart-box-wrapper {
          order: 1;
          width: 100%;
          padding: 15px 20px;
        }
        .tbody-products-list {
          order: 2;
        }
      }
      .tbody-products-list {
        @media (min-width: 768px) {
          //max-height: 300px;
        }
        overflow: auto;
        margin-bottom: 20px;
        width: 100%;
        @include breakpoint(small) {
          height: 100%;
        }
        * {
          @include breakpoint(medium) {
            font-size: 12px!important;
          }
          @include breakpoint(small) {
            font-size: 18px!important;
          }
        }
        .mCSB_inside > .mCSB_container {
          &:not(.mCS_y_hidden) {
            margin-right: 48px;
          }
          @include breakpoint(small) {
            margin-right: 0;
          }
        }
        .mCSB_scrollTools {
          width: 24px;
        }
        .mCSB_scrollTools .mCSB_dragger {
          width: 24px !important;
          height: 72px !important;
          background: url('../../images/scroll.png') no-repeat center;
        }
        .mCSB_dragger_bar {
          display: none;
        }
      }
      .woocommerce-cart-form__cart-item {
      > div:not(.product-thumbnail) {
        @include breakpoint(medium) {
          padding: 0 10px;
        }
        @include breakpoint(small) {
          margin-top: 10px;
        }
      }
      > div.product-remove {
        @include breakpoint(medium) {
          padding: 0;
        }
      }

        background: #fff;
        border: 1px solid #e2e2e2;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 20px;
        &:before {
          content: '';
          @include center(false,false);
          width: 1px;
          height: 100%;
          background: #e2e2e2;
          left: calc(((100% - 148px) * 0.3) + 100px);
          z-index: 9;
          @include breakpoint(small) {
            display: none;
          }
        }
        &:after {
          content: '';
          clear: both;
          display: block;
        }
        .product-thumbnail {
          width: 100px;
          height: 100px;
          flex: 0 0 100px;
          max-width: 100px;
          overflow: hidden;
          float: left;
          @include breakpoint(small) {
            width: 60px;
            height: 60px;
            flex: 0 0 60px;
            max-width: 60px;
          }
          a {
            display: block;
            height: 100%;
            img {
              object-fit: cover;
              width: 100%;
            }
          }
        }
        .product-remove {
          width: 48px;
          text-align: center;
          line-height: 1;
          float: right;
          flex: 0 0 48px;
          max-width: 48px;
          > a {
            width: 18px;
            height: 18px;
            background: url('../../images/cross.svg') center no-repeat;
            display: inline-block;
          }
          @include breakpoint(small) {
            @include center(false,false);
            top: 0;
            right: 0;
            z-index: 9;
          }
        }
        .product-name {
          flex: 0 0 calc((100% - 148px) * 0.3);
          max-width: calc((100% - 148px) * 0.3);
          padding: 0 30px;
          float: left;
          @include breakpoint(small) {
            flex: 0 0 calc(100% - 60px);
            max-width: calc(100% - 60px);
            padding: 0 35px 0 10px!important;
          }
        }
        .product-quantity {
          flex: 0 0 calc((100% - 148px) * 0.4);
          max-width: calc((100% - 148px) * 0.4);
          padding-left: 20px;
          padding-right: 20px;
          float: left;
          @include breakpoint(medium) {
            text-align: center;
            > span {
              display: block;
            }
          }
          @include breakpoint(small) {
            flex: 0 0 100%;
            max-width: 100%;
          }
          > span {
            @include breakpoint(wide) {
              font-size: 12px;
            }
            @include breakpoint(small) {
              text-align: left;
            }
          }
          .wc-quantity,
          .quantity {
            display: inline-block;
            padding-left: 20px;
            width: calc(100% - 110px)!important;
            @include breakpoint(wide) {
              width: calc(100% - 85px)!important;
            }
            @include breakpoint(medium) {
              width: 100%!important;
              padding: 0!important;
              margin-top: 5px!important;
            }
            @include breakpoint(small) {
              margin-left: 0!important;
            }
            .quantity-inc {
              input.input {
                width: calc(100% - 108px)!important;
              }
              .button {
                background: $theme_primary;
                margin-right: 10px;
                &:last-child {
                  margin-left: 10px;
                  margin-right: 0px;
                }
              }

            }
          }
        }
        .product-subtotal,
        .product-price {
          padding: 0 20px;
          flex: 0 0 calc((100% - 148px) * 0.15);
          max-width: calc((100% - 148px) * 0.15);
          float: left;
          @include breakpoint(small) {
            flex: 0 0 50%;
            max-width: 50%;
            border-top: 1px solid #c4c4c4;
            padding: 15px!important;
          }
        }
        .product-subtotal {
          @include breakpoint(small) {
            border-left: 1px solid #c4c4c4;
          }
        }
      }
    }
  }
}
.brown-cart-box-wrapper {
  @include breakpoint(small) {
    background: $theme_secondary;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .cart-total {
    text-align: right;
    margin-bottom: 20px;
    strong {
      @include breakpoint(small) {
        color: #fff;
        width: 49%;
        margin: 0;
        text-align: left;
        display: inline-block;
      }
    }
    > span {
      font-size: 24px;
      margin-left: 40px;
      @include breakpoint(small) {
        color: #fff;
        width: 49%;
        margin-left: 0;
        text-align: right;
        display: inline-block;
      }
      @include breakpoint(iPhone5) {
        font-size: 22px;
      }
    }
  }
  .brown-cart-box {
    float: left;
    display: inline-block;
    width: calc(100% - 250px);
    max-width: 100%;
    @include breakpoint(wide) {
      width: calc(100% - 205px);
    }
    @include breakpoint(small) {
      width: 100%;
      float: none;
      display: block;
    }
    * {
      color: #fff !important;
    }
    .coupon {
      background: $theme_secondary;
      padding: 11px 30px 11px 20px;
      border-radius: 5px;
      display: inline-block;
      > button[type="submit"] {
        padding: 5px 20px;
        font-size: 14px;
        @include breakpoint(small) {
          margin: 10px 0 5px;
          width: 100%;
          padding: 16px 20px;
        }
      }
      @include breakpoint(medium) {
        padding: 7.5px 10px;
      }
      label {
        opacity: 0.5;
        @include breakpoint(medium) {
          font-size: 12px;
        }
        @include breakpoint(small) {
          font-size: 14px;
          width: 49%;
          text-align: left;
        }
      }
      @include breakpoint(small) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
    input[type="text"] {
      background: rgba(47, 28, 25, 0.5)!important;
      color: #fff!important;
      border: none!important;
      width: 200px!important;
      height: 40px!important;
      margin-left: 24px!important;
      margin-bottom: 0!important;
      display: inline-block!important;
      @include breakpoint(wide) {
        width: 120px!important;
      }
      @include breakpoint(medium) {
        width: 90px!important;
        margin-left: 5px!important;
      }
      @include breakpoint(small) {
        width: 49%!important;
        margin-left: 0px!important;
      }
    }
    button[type="submit"] {
      border-radius: 5px;
      padding: 16px 40px;
      margin-left: 10px;
      &:hover {
        color: $theme_secondary!important;
      }
      @include breakpoint(wide) {
        padding: 16px 20px;
      }
      @include breakpoint(medium) {
        font-size: 12px;
      }
      @include breakpoint(small) {
        width: 100%;
        margin: 5px 0;
      }
    }
  }
  .checkout-way {
    width: 243px;
    float: right;
    text-align: right;
    @include breakpoint(medium) {
      width: 202px;
      a.me_btn {
        font-size: 12px;
      }
    }
    @include breakpoint(small) {
      width: 100%;
      display: block;
      float: none;
      margin: 5px 0;
      text-align: center;
    }
    a {
      border-radius: 5px;
      padding: 16px 40px;
      background: $theme_primary!important;
      color: #fff!important;
      @include breakpoint(wide) {
        padding: 16px 20px;
      }
      @include breakpoint(small) {
        width: 100%;
      }
      &:hover {
        color: $theme_secondary!important;
        background: #f2f2f2!important;
      }
    }
  }
}


//checkout
body.woocommerce-checkout {
  header.entry-header {
    display: none;
  }
}
.checkout-me {
  margin: 20px 0;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  .customer_details_shipping {
    margin: 20px 0 0;
  }
  .pay-wrap {
    padding: 30px;
    background: #f8f8f8;
    border-radius: 5px;
    @include breakpoint(medium) {
      margin-top: 20px;
    }
  }
  .shop_table {
    width: 100%;
  }
  .form-row {
    margin: 0;
  }
  .wc_payment_methods {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

//thank you
.page-template-tmpl-checkout .banner-wrap {
  display: none;
  section.checkout-wrapper {
    padding-top: 100px;
  }
}
.thankyou-wrapper {
  padding: 60px 0 100px;
  .thankyou-inner {
    @include breakpoint(small) {
      text-align: center;
    }
      h3 {
      font-size: 30px;
      color: $theme_secondary;
      margin-bottom: 15px;
      @include breakpoint(small) {
        margin-top: 20px;
      }
    }
    p {
      margin-bottom: 33px;
      color: #504e4e;
    }
  }
}
.site-content .pay-wrap label {
    color: #504e4e;  
}

.cart-clear-on-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .me_btn{
    padding: 5px 20px;
    font-size: 14px;
  }
}