
@font-face {
  font-family: 'pt_sansitalic';
  src: url('../../fonts/ptsans-italic.woff2') format('woff2'),
  url('../../fonts/ptsans-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sansregular';
  src: url('../../fonts/ptsans-regular.woff2') format('woff2'),
  url('../../fonts/ptsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'pt_sansbold';
  src: url('../../fonts/ptsans-bold.woff2') format('woff2'),
  url('../../fonts/ptsans-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sansbold_italic';
  src: url('../../fonts/ptsans-bolditalic.woff2') format('woff2'),
  url('../../fonts/ptsans-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}