/*Site Fonts*/

$font-family-base:  'pt_sansregular', serif;
$font_pt_italic: 'pt_sansitalic';
$font_pt_regular: 'pt_sansregular';
$font_pt_bold: 'pt_sansbold';
$font_pt_bold_italic: 'pt_sansbold_italic';


//font-family: 'pt_sansitalic';
//font-family: 'pt_sansregular';
//font-family: 'pt_sansbold';
//font-family: 'pt_sansbold_italic';

//Site colors
$white: #FFFFFF;
$black: #000000;

$theme_primary: #7DAF3F;
$theme_secondary: #4D302B;
$theme_gray: #B7B7B7;

$theme_headings_color: #1f1f1f;
$theme_text_color: #504e4e;
$theme_border_color: #e2e2e2;
$theme_content_bg: #f8f8f8;

